h1{
    text-align: left;
    background-color: black;
    color: white;
}
h2{
    text-align: center;
    font-style: italic;
    background-color: blueviolet;
    color: white;
}
h3{
    text-align: right;
    text-decoration: underline;
    background-color: aquamarine;
    color: cadetblue;
}