
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    background-color: grey;
    border-color: white;
    color: white;
    padding: 10px;
}

.nav-title {
    margin-right: auto;
    display: flex;
    list-style: none; 
}

.nav-links {
    display: flex;
    list-style: none; 
}

.nav-title li {
    justify-content: flex-end;
    margin: 28px;
}

button {
    background-color: blue;
    color: white;
    border-radius: 20px;
    height: 25px;
}
/* Card profile*/
.container-profile {
    max-width: 800px;
    margin: auto;
    text-align: start;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
}

.img-icon {
    height: 20px;
    padding-right: 5px;
}

h2 {
    margin-bottom: 10px;
    
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
span {
    display: block;
    margin-bottom: 5px;
}

.edit-profile a{
    color: #007BFF;
}
.user{
    background-color: grey;
    height: 200px;
    margin-bottom: 10%;
}
